--extra-index-url https://artefact.skao.int/repository/pypi-internal/simple

astropy==5.3.4 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
clickclick==20.10.2 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
connexion==2.14.2 ; python_version >= "3.10" and python_version < "4.0"
connexion[swagger-ui]==2.14.2 ; python_version >= "3.10" and python_version < "4.0"
fire==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
flask==2.2.5 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.6 ; python_version >= "3.10" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.3 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-spec==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.17.3 ; python_version >= "3.10" and python_version < "4.0"
lazy-object-proxy==1.10.0 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.4 ; python_version >= "3.10" and python_version < "4.0"
marshmallow-enum==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
marshmallow-oneofschema==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
marshmallow==3.20.2 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.3 ; python_version >= "3.10" and python_version < "4.0"
openapi-schema-validator==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
openapi-spec-validator==0.5.7 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0"
pathable==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
prance[osv]==23.6.21.0 ; python_version >= "3.10" and python_version < "4.0"
psycopg-binary==3.1.17 ; implementation_name != "pypy" and python_version >= "3.10" and python_version < "4.0"
psycopg-pool==3.2.1 ; python_version >= "3.10" and python_version < "4.0"
psycopg[binary]==3.1.17 ; python_version >= "3.10" and python_version < "4.0"
pyerfa==2.0.1.1 ; python_version >= "3.10" and python_version < "4.0"
pyrsistent==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.10"
ruamel-yaml==0.18.5 ; python_version >= "3.10" and python_version < "4.0"
setuptools==69.0.3 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
ska-oso-pdm==14.1.0 ; python_version >= "3.10" and python_version < "4.0"
ska-ser-logging==0.4.1+0a677a67 ; python_version >= "3.10" and python_version < "4.0"
ska-ser-skuid==3.3.3 ; python_version >= "3.10" and python_version < "4.0"
swagger-ui-bundle==0.0.9 ; python_version >= "3.10" and python_version < "4.0"
termcolor==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.4 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
werkzeug==2.2.3 ; python_version >= "3.10" and python_version < "4.0"